{
  "$schema": "https://json.schemastore.org/swcrc",
  "env": {
    "targets": {
      "chrome": 100,
      "safari": 15,
      "firefox": 91,
      "node": 22
    }
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "classic",
        "pragma": "React.createElement",
        "pragmaFrag": "React.Fragment",
        "throwIfNamespace": false,
        "development": false
      }
    },
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": false
  },
  "minify": false
}
