# Comprehensive daily testing workflow, for the most exhaustive (but expensive) checks.
# Uses the `daily` sandboxes from `sandbox-templates.ts`, which includes the `normal` and `merged` sandboxes
# Triggered via the `ci:daily` pull request label

when:
  equal: [daily, << pipeline.parameters.workflow >>]

jobs:
  - pretty-docs
  - build
  - lint:
      requires:
        - build
  - knip:
      requires:
        - build
  - bench-packages:
      requires:
        - build
  - check
  - unit-tests:
      requires:
        - build
  - stories-tests:
      requires:
        - build
  - chromatic-internal-storybook:
      requires:
        - build
  - create-sandboxes:
      parallelism: 38
      requires:
        - build
  - check-sandboxes:
      parallelism: 1
      requires:
        - create-sandboxes
  # - smoke-test-sandboxes: # disabled for now
  #     requires:
  #       - create-sandboxes
  - chromatic-sandboxes:
      parallelism: 35
      requires:
        - create-sandboxes
  - e2e-production:
      parallelism: 7
      requires:
        - create-sandboxes
  - e2e-dev:
      parallelism: 28
      requires:
        - create-sandboxes
  - test-runner-production:
      parallelism: 33
      requires:
        - create-sandboxes
  - vitest-integration:
      parallelism: 13
      requires:
        - create-sandboxes
  - test-portable-stories:
      requires:
        - build
      matrix:
        parameters:
          directory: ['react', 'vue3', 'nextjs', 'svelte']
  - test-yarn-pnp:
      requires:
        - build
  - e2e-ui:
      requires:
        - build
  - e2e-ui-vitest-3:
      requires:
        - build
  - test-init-features:
      requires:
        - build
  - test-init-empty:
      requires:
        - build
      matrix:
        parameters:
          packageManager:
            - 'npm'
            # TODO: reenable once we find out the source of failure
            # - "yarn1"
            # - "yarn2"
            # - "pnpm"
          template:
            - 'react-vite-ts'
            - 'nextjs-ts'
            - 'vue-vite-ts'
            # --smoke-test is not supported for the angular builder right now
            # - "angular-cli"
            - 'lit-vite-ts'
  - test-init-empty-windows:
      requires:
        - build
      matrix:
        parameters:
          packageManager:
            - 'npm'
          template:
            - 'react-vite-ts'
            - 'nextjs-ts'
            - 'vue-vite-ts'
            - 'lit-vite-ts'
# TODO: don't forget to reenable this
#      - bench-sandboxes:
#          parallelism: 5
#          requires:
#            - create-sandboxes

# TODO: reenable once we find out the source of flakyness
# - test-runner-dev:
#     parallelism: 4
#     requires:
#       - create-sandboxes
