# Post-merge validation workflow, runs after a pull request is merged
# Uses the `merged` sandboxes from `sandbox-templates.ts`, which includes the `normal` sandboxes
# Can be triggered via the `ci:merged` pull request label

when:
  equal: [merged, << pipeline.parameters.workflow >>]

jobs:
  - pretty-docs
  - build
  - lint:
      requires:
        - build
  - knip:
      requires:
        - build
  - bench-packages:
      requires:
        - build
  - check
  - unit-tests:
      requires:
        - build
  - stories-tests:
      requires:
        - build
  - script-checks:
      requires:
        - build
  - chromatic-internal-storybook:
      requires:
        - build
  - coverage:
      requires:
        - unit-tests
  - create-sandboxes:
      parallelism: 19
      requires:
        - build
  - chromatic-sandboxes:
      parallelism: 16
      requires:
        - create-sandboxes
  - e2e-production:
      parallelism: 6
      requires:
        - create-sandboxes
  - e2e-dev:
      parallelism: 14
      requires:
        - create-sandboxes
  - test-runner-production:
      parallelism: 14
      requires:
        - create-sandboxes
  - vitest-integration:
      parallelism: 7
      requires:
        - create-sandboxes
  - check-sandboxes:
      parallelism: 1
      requires:
        - create-sandboxes
  - test-portable-stories:
      requires:
        - build
      matrix:
        parameters:
          directory: ['react', 'vue3', 'nextjs', 'svelte']
  - test-yarn-pnp:
      requires:
        - build
  - e2e-ui:
      requires:
        - build
  - e2e-ui-vitest-3:
      requires:
        - build
  - test-init-features:
      requires:
        - build
# TODO: don't forget to reenable this
#      - bench-sandboxes:
#          parallelism: 5
#          requires:
#            - create-sandboxes
# TODO: reenable once we find out the source of flakyness
# - test-runner-dev:
#     parallelism: 4
#     requires:
#       - create-sandboxes
