# Standard PR check workflow, applicable to most pull requests
# Uses the `normal` sandboxes from `sandbox-templates.ts`
# Can be triggered via the `ci:normal` pull request label

when:
  equal: [normal, << pipeline.parameters.workflow >>]

jobs:
  - pretty-docs
  - build
  - lint:
      requires:
        - build
  - knip:
      requires:
        - build
  - bench-packages:
      requires:
        - build
  - check
  - unit-tests:
      requires:
        - build
  - stories-tests:
      requires:
        - build
  - script-checks:
      requires:
        - build
  - chromatic-internal-storybook:
      requires:
        - build
  - coverage:
      requires:
        - unit-tests
  - create-sandboxes:
      parallelism: 13
      requires:
        - build
  - chromatic-sandboxes:
      parallelism: 10
      requires:
        - create-sandboxes
  - e2e-production:
      parallelism: 6
      requires:
        - create-sandboxes
  - e2e-dev:
      parallelism: 8
      requires:
        - create-sandboxes
  - test-runner-production:
      parallelism: 8
      requires:
        - create-sandboxes
  - vitest-integration:
      parallelism: 5
      requires:
        - create-sandboxes
  # TODO: don't forget to reenable this
  #      - bench-sandboxes:
  #          parallelism: 5
  #          requires:
  #            - create-sandboxes
  - test-yarn-pnp:
      requires:
        - build
  - e2e-ui:
      requires:
        - build
  - e2e-ui-vitest-3:
      requires:
        - build
  - test-init-features:
      requires:
        - build
  - test-portable-stories:
      requires:
        - build
      matrix:
        parameters:
          directory: ['react', 'vue3', 'nextjs', 'svelte']
  # TODO: reenable once we find out the source of flakyness
  # - test-runner-dev:
  #     requires:
  #       - create-sandboxes
