version: 2.1

# https://circleci.com/docs/guides/orchestrate/dynamic-config/
setup: true

orbs:
  git-shallow-clone: guitarrapc/git-shallow-clone@2.8.0
  continuation: circleci/continuation@2.0.1
  node: circleci/node@7.2.1

parameters:
  ghBaseBranch:
    default: next
    description: The name of the base branch (the target of the PR)
    type: string
  ghPrNumber:
    default: ''
    description: The PR number
    type: string
  workflow:
    default: skipped
    description: Which workflow to run
    enum:
      - normal
      - merged
      - daily
      - skipped
      - docs
    type: enum

jobs:
  generate-and-run-config:
    executor: continuation/default
    steps:
      - run:
          name: Debug parameters
          command: |
            echo "ghBaseBranch: << pipeline.parameters.ghBaseBranch >>"
            echo "ghPrNumber: << pipeline.parameters.ghPrNumber >>"
            echo "workflow: << pipeline.parameters.workflow >>"

      - git-shallow-clone/checkout_advanced:
          clone_options: '--depth 1 --verbose'
      - node/install
      - run:
          name: Generate config
          command: |
            node ./scripts/ci/generate.js

      # https://circleci.com/developer/orbs/orb/circleci/continuation
      - continuation/continue:
          configuration_path: .circleci/config.generated.yml
          # parameters: '{"ghBaseBranch": "<< pipeline.parameters.ghBaseBranch >>", "ghPrNumber": "<< pipeline.parameters.ghPrNumber >>", "workflow": "<< pipeline.parameters.workflow >>"}'
workflows:
  setup:
    jobs:
      - generate-and-run-config
    when: pipeline.parameters.workflow != "skipped"
