executor:
  class: xlarge
  name: sb_node_22_classic

steps:
  - git-shallow-clone/checkout_advanced:
      clone_options: '--depth 1 --verbose'
  - restore_cache:
      name: Restore Yarn cache
      keys:
        - build-yarn-2-cache-v5--{{ checksum "yarn.lock" }}
  - run:
      name: Compile
      command: |
        yarn
        yarn task --task compile --start-from=auto --no-link --debug
        git diff --exit-code
        yarn dedupe --check
  - run:
      name: Publish to Verdaccio
      command: |
        cd code
        yarn local-registry --publish
  - report-workflow-on-failure
  - store_artifacts:
      path: storybook/code/bench/esbuild-metafiles
  - save_cache:
      name: Save Yarn cache
      key: build-yarn-2-cache-v5--{{ checksum "yarn.lock" }}
      paths:
        - ~/.yarn/berry/cache
  - persist_to_workspace:
      root: /tmp
      paths:
        - storybook/node_modules
        - storybook/code/node_modules
        - storybook/code/addons
        - storybook/scripts/node_modules
        - storybook/code/bench
        - storybook/code/examples
        - storybook/code/frameworks
        - storybook/code/lib
        - storybook/code/core
        - storybook/code/builders
        - storybook/code/renderers
        - storybook/code/presets
        - storybook/.verdaccio-cache
