executor:
  class: large
  name: sb_node_22_classic

steps:
  - git-shallow-clone/checkout_advanced:
      clone_options: '--depth 1 --verbose'
  - restore_cache:
      name: Restore Yarn cache
      keys:
        - build-yarn-2-cache-v5--{{ checksum "code/yarn.lock" }}--{{ checksum "scripts/yarn.lock" }}
  - run:
      name: Compile
      command: |
        yarn task --task compile --start-from=auto --no-link --debug
        git diff --exit-code
        yarn dedupe --check
  - run:
      name: Publish to Verdaccio
      command: |
        cd code
        yarn local-registry --publish
  - report-workflow-on-failure
  - save_cache:
      key: code-node-modules-{{ checksum "code/yarn.lock" }}
      paths:
          - code/node_modules
  - save_cache:
      key: scripts-node-modules-{{ checksum "scripts/yarn.lock" }}
      paths:
          - scripts/node_modules
  # Persist source/artifacts only (exclude node_modules)
  - persist_to_workspace:
      root: .
      paths:
          - code/addons
          - code/bench
          - code/examples
          - code/frameworks
          - code/lib
          - code/core
          - code/builders
          - code/renderers
          - code/presets
          - .verdaccio-cache
