executor:
  class: large
  name: sb_node_22_classic

steps:
  - git-shallow-clone/checkout_advanced:
      clone_options: '--depth 1 --verbose'
  - nx/set-shas:
      main-branch-name: 'next'
      workflow-name: << pipeline.parameters.workflow >>
  - restore_cache:
      name: Restore Yarn cache
      keys:
        - build-yarn-2-cache-v5--{{ checksum "yarn.lock" }}
  - run:
      name: Compile
      command: |
        yarn task --task compile --start-from=auto --no-link --debug
  - run:
      name: Check
      command: |
        yarn task --task check --start-from=auto --no-link --debug
  - run:
      name: Ensure no changes pending
      command: |
        git diff --exit-code
  - report-workflow-on-failure
  - cancel-workflow-on-failure
