executor:
  class: medium
  name: sb_node_22_browsers

parameters:
  parallelism:
    type: integer

parallelism: << parameters.parallelism >>

steps:
  - checkout
  - attach_workspace:
      at: .
  - restore_cache:
      keys:
        - code-node-modules-{{ checksum "code/yarn.lock" }}
  - restore_cache:
      keys:
        - scripts-node-modules-{{ checksum "scripts/yarn.lock" }}
  - run:
      name: Compute sandbox cache key
      command: |
        TEMPLATE=$(yarn get-template --cadence << pipeline.parameters.workflow >> --task sandbox)
        echo "sandbox-template=$TEMPLATE" >> $BASH_ENV
        source $BASH_ENV
        echo "Computed sandbox template: $sandbox-template"
  - restore_cache:
      key: sandbox-{{ .BuildNum }}-{{ checksum "sandbox/${sandbox-template}/package.json" }}
  - run:
      name: Install sandbox dependencies
      command: |
        TEMPLATE=$(yarn get-template --cadence << pipeline.parameters.workflow >> --task chromatic)
        cd sandbox/$(yarn get-sandbox-dir --template $TEMPLATE) && yarn
  - run:
      name: Running Chromatic
      command: yarn task --task chromatic --template $(yarn get-template --cadence << pipeline.parameters.workflow >> --task chromatic) --no-link --start-from=never --junit
  - report-workflow-on-failure:
      template: $(yarn get-template --cadence << pipeline.parameters.workflow >> --task chromatic)
  - store_test_results:
      path: test-results
