executor:
  class: large
  name: sb_node_22_browsers

environment:
  NODE_OPTIONS: --max_old_space_size=4096

steps:
  # switched this to the CircleCI helper to get the full git history for TurboSnap
  - checkout
  - attach_workspace:
      at: .
  - restore_cache:
      keys:
        - code-node-modules-{{ checksum "code/yarn.lock" }}
  - restore_cache:
      keys:
        - scripts-node-modules-{{ checksum "scripts/yarn.lock" }}
  - run:
      name: Running Chromatic
      command: yarn storybook:ui:chromatic
      working_directory: code
  - report-workflow-on-failure
  - store_test_results:
      path: test-results
