executor:
  class: large
  name: sb_node_22_browsers

environment:
  NODE_OPTIONS: --max_old_space_size=4096

steps:
  # switched this to the CircleCI helper to get the full git history for TurboSnap
  - checkout
  - attach_workspace:
      at: /tmp
  - run:
      name: Build Storybook
      command: yarn storybook:ui:build
      working_directory: code
  - run:
      name: Running Chromatic
      command: yarn storybook:ui:chromatic
      working_directory: code
  - report-workflow-on-failure
  - store_test_results:
      path: storybook/test-results
