executor:
  class: small
  name: sb_node_22_browsers

steps:
  - git-shallow-clone/checkout_advanced:
      clone_options: '--depth 1 --verbose'
  - attach_workspace:
      at: /tmp
  - codecov/upload
  - report-workflow-on-failure
