executor:
  class: large
  name: sb_node_22_browsers

parameters:
  parallelism:
    type: integer

parallelism: << parameters.parallelism >>

steps:
  - git-shallow-clone/checkout_advanced:
      clone_options: '--depth 1 --verbose'
  - attach_workspace:
      at: .
  - restore_cache:
      keys:
        - code-node-modules-{{ checksum "code/yarn.lock" }}
  - restore_cache:
      keys:
        - scripts-node-modules-{{ checksum "scripts/yarn.lock" }}
  - run:
      name: Setup Corepack
      command: |
        # Enable corepack
        sudo corepack enable

        # Verify yarn is working
        which yarn
        yarn --version
  - start-event-collector
  - run:
      name: Create Sandboxes
      command: |
        TEMPLATE=$(yarn get-template --cadence << pipeline.parameters.workflow >> --task sandbox)
        yarn task --task build --template $TEMPLATE --no-link --start-from=sandbox --junit
        if [[ $TEMPLATE != bench/* ]]; then
          yarn --cwd scripts jiti ./event-log-checker.ts build $TEMPLATE
        fi
        # Clean node_modules before caching sandbox to keep cache light
        cd sandbox/$(yarn get-sandbox-dir --template $TEMPLATE) && rm -rf node_modules
      environment:
        STORYBOOK_TELEMETRY_DEBUG: 1
        STORYBOOK_TELEMETRY_URL: 'http://localhost:6007/event-log'
  - report-workflow-on-failure:
      template: $(yarn get-template --cadence << pipeline.parameters.workflow >> --task sandbox)
  - run:
      name: Compute sandbox cache key
      command: |
        TEMPLATE=$(yarn get-template --cadence << pipeline.parameters.workflow >> --task sandbox)
        echo "sandbox/$TEMPLATE/package.json" > .sandbox-package-path.txt
        echo "Computed sandbox template: $TEMPLATE"
  - save_cache:
      key: sandbox-{{ .Revision }}-{{ checksum ".sandbox-package-path.txt" }}
      paths:
        - sandbox
  - store_test_results:
      path: test-results
