executor:
  class: medium+
  name: sb_playwright

parameters:
  parallelism:
    type: integer

parallelism: << parameters.parallelism >>

steps:
  - git-shallow-clone/checkout_advanced:
      clone_options: '--depth 1 --verbose'
  - attach_workspace:
      at: .
  - restore_cache:
      keys:
        - code-node-modules-{{ checksum "code/yarn.lock" }}
  - restore_cache:
      keys:
        - scripts-node-modules-{{ checksum "scripts/yarn.lock" }}
  - run:
      name: Compute sandbox cache key
      command: |
        TEMPLATE=$(yarn get-template --cadence << pipeline.parameters.workflow >> --task e2e-tests-dev)
        echo "sandbox/$TEMPLATE/package.json" > .sandbox-package-path.txt
        echo "Computed sandbox template: $TEMPLATE"
  - restore_cache:
      key: sandbox-{{ .BuildNum }}-{{ checksum ".sandbox-package-path.txt" }}
  - run:
      name: Install sandbox dependencies
      command: |
        TEMPLATE=$(yarn get-template --cadence << pipeline.parameters.workflow >> --task e2e-tests-dev)
        cd sandbox/$(yarn get-sandbox-dir --template $TEMPLATE) && yarn
  - run:
      name: Running E2E Tests
      # TEST_FILES should include all relevant test files, in this case we use the default playwright pattern
      # `circleci tests run` allows rerunning failed tests by passing a subset of test files to the command via `xargs`
      # --index=0 --total=1 ensures we run all tests on all runners, since each runner handles a different sandbox
      command: |
        TEST_FILES=$(circleci tests glob "code/e2e-tests/*.{test,spec}.{ts,js,mjs}")
        echo "$TEST_FILES" | circleci tests run --command="xargs yarn task --task e2e-tests-dev --template $(yarn get-template --cadence << pipeline.parameters.workflow >> --task e2e-tests-dev) --no-link --start-from=never --junit" --verbose --index=0 --total=1
  - report-workflow-on-failure:
      template: $(yarn get-template --cadence << pipeline.parameters.workflow >> --task e2e-tests-dev)
  - store_test_results:
      path: test-results
  - store_artifacts: # this is where playwright puts more complex stuff
      path: code/playwright-results/
      destination: playwright
