executor:
  class: large
  name: sb_node_22_classic

steps:
  - git-shallow-clone/checkout_advanced:
      clone_options: '--depth 1 --verbose'
  - attach_workspace:
      at: .
  - run:
      name: Knip
      command: |
        yarn knip --no-exit-code
  - report-workflow-on-failure
  - cancel-workflow-on-failure
