executor:
  class: medium+
  name: sb_node_22_classic

steps:
  - git-shallow-clone/checkout_advanced:
      clone_options: '--depth 1 --verbose'
  - attach_workspace:
      at: .
  - restore_cache:
      keys:
        - code-node-modules-{{ checksum "code/yarn.lock" }}
  - restore_cache:
      keys:
        - scripts-node-modules-{{ checksum "scripts/yarn.lock" }}
  - run:
      name: Lint
      command: |
        cd code
        yarn lint
  - report-workflow-on-failure
  - cancel-workflow-on-failure
