executor:
  class: small
  name: sb_node_22_browsers

steps:
  - git-shallow-clone/checkout_advanced:
      clone_options: '--depth 1 --verbose'
  - attach_workspace:
      at: /tmp
  - run:
      name: Verdaccio
      background: true
      command: |
        cd code
        yarn local-registry --open
  - run:
      name: Wait on Verdaccio
      command: |
        cd code
        yarn wait-on tcp:127.0.0.1:6001
        yarn wait-on tcp:127.0.0.1:6002
  - run:
      name: Storybook init for features
      command: |
        cd ..
        mkdir features-1
        cd features-1
        npm set registry http://localhost:6001
        npx create-storybook --yes --package-manager npm --features docs test a11y --loglevel=debug
        npx vitest
      environment:
        IN_STORYBOOK_SANDBOX: true
        STORYBOOK_INIT_EMPTY_TYPE: react-vite-ts
        STORYBOOK_DISABLE_TELEMETRY: true
