executor: win/default

parameters:
  packageManager:
    type: string
  template:
    type: string

steps:
  - checkout
  - attach_workspace:
      at: .
  - run:
      name: Setup Node & Yarn on Windows
      shell: bash.exe
      # We pin to Node 22 because of npm issues with Node 24 as it isn't fully stable yet and it causes issues when running npx
      command: |
        choco install nodejs-lts --version=22.11.0 -y
        corepack enable
  - run:
      name: Install code dependencies
      shell: bash.exe
      working_directory: code
      command: yarn install
  - run:
      name: Install script dependencies
      shell: bash.exe
      working_directory: scripts
      command: yarn install
  - when:
      condition:
        equal: ['npm', << parameters.packageManager >>]
      steps:
        - run:
            name: Verdaccio
            background: true
            shell: bash.exe
            command: |
              cd code
              yarn local-registry --open
        - run:
            name: Wait on Verdaccio
            shell: bash.exe
            command: |
              cd code
              yarn wait-on tcp:127.0.0.1:6001
              yarn wait-on tcp:127.0.0.1:6002
        - run:
            name: Storybook init from empty directory (Windows NPM)
            shell: bash.exe
            command: |
              cd ..
              mkdir empty-<< parameters.template >>
              cd empty-<< parameters.template >>
              npm set registry http://localhost:6001
              npx storybook init --yes --package-manager npm
              npm run storybook -- --smoke-test
            environment:
              IN_STORYBOOK_SANDBOX: true
              STORYBOOK_INIT_EMPTY_TYPE: << parameters.template >>
              STORYBOOK_DISABLE_TELEMETRY: true
  - when:
      condition:
        equal: ['yarn1', << parameters.packageManager >>]
      steps:
        - run:
            name: Verdaccio
            background: true
            shell: bash.exe
            command: |
              cd code
              yarn local-registry --open
        - run:
            name: Wait on Verdaccio
            shell: bash.exe
            command: |
              cd code
              yarn wait-on tcp:127.0.0.1:6001
              yarn wait-on tcp:127.0.0.1:6002
        - run:
            name: Storybook init from empty directory (Windows Yarn 1)
            shell: bash.exe
            command: |
              cd ..
              mkdir empty-<< parameters.template >>
              cd empty-<< parameters.template >>
              npx storybook init --yes --package-manager yarn1
              yarn storybook --smoke-test
            environment:
              IN_STORYBOOK_SANDBOX: true
              STORYBOOK_INIT_EMPTY_TYPE: << parameters.template >>
              STORYBOOK_DISABLE_TELEMETRY: true
  - when:
      condition:
        equal: ['yarn2', << parameters.packageManager >>]
      steps:
        - run:
            name: Verdaccio
            background: true
            shell: bash.exe
            command: |
              cd code
              yarn local-registry --open
        - run:
            name: Wait on Verdaccio
            shell: bash.exe
            command: |
              cd code
              yarn wait-on tcp:127.0.0.1:6001
              yarn wait-on tcp:127.0.0.1:6002
        - run:
            name: Storybook init from empty directory (Windows Yarn 2)
            shell: bash.exe
            command: |
              cd ..
              mkdir empty-<< parameters.template >>
              cd empty-<< parameters.template >>
              yarn set version berry
              yarn config set registry http://localhost:6001
              yarn dlx storybook init --yes --package-manager yarn2
              yarn storybook --smoke-test
            environment:
              IN_STORYBOOK_SANDBOX: true
              STORYBOOK_INIT_EMPTY_TYPE: << parameters.template >>
              STORYBOOK_DISABLE_TELEMETRY: true
  - when:
      condition:
        equal: ['pnpm', << parameters.packageManager >>]
      steps:
        - run:
            name: Verdaccio
            background: true
            shell: bash.exe
            command: |
              cd code
              yarn local-registry --open
        - run:
            name: Wait on Verdaccio
            shell: bash.exe
            command: |
              cd code
              yarn wait-on tcp:127.0.0.1:6001
              yarn wait-on tcp:127.0.0.1:6002
        - run:
            name: Storybook init from empty directory (Windows PNPM)
            shell: bash.exe
            command: |
              cd ..
              mkdir empty-<< parameters.template >>
              cd empty-<< parameters.template >>
              npm i -g pnpm
              pnpm config set registry http://localhost:6001
              pnpm dlx storybook init --yes --package-manager pnpm
              pnpm run storybook --smoke-test
            environment:
              IN_STORYBOOK_SANDBOX: true
              STORYBOOK_INIT_EMPTY_TYPE: << parameters.template >>
              STORYBOOK_DISABLE_TELEMETRY: true
  - when:
      condition:
        equal: ['react-vite-ts', << parameters.template >>]
      steps:
        - run:
            name: Verdaccio
            background: true
            shell: bash.exe
            command: |
              cd code
              yarn local-registry --open
        - run:
            name: Wait on Verdaccio
            shell: bash.exe
            command: |
              cd code
              yarn wait-on tcp:127.0.0.1:6001
              yarn wait-on tcp:127.0.0.1:6002
        - run:
            name: Storybook init from empty directory (Windows --skip-install)
            shell: bash.exe
            command: |
              cd ..
              mkdir empty-<< parameters.template >>-no-install
              cd empty-<< parameters.template >>-no-install
              npx storybook init --yes --skip-install
              npm install
              npm run build-storybook
            environment:
              IN_STORYBOOK_SANDBOX: true
              STORYBOOK_INIT_EMPTY_TYPE: << parameters.template >>
              STORYBOOK_DISABLE_TELEMETRY: true
  - report-workflow-on-failure
