executor:
  class: xlarge
  name: sb_playwright

parameters:
  parallelism:
    type: integer

parallelism: << parameters.parallelism >>

steps:
  - git-shallow-clone/checkout_advanced:
      clone_options: '--depth 1 --verbose'
  - attach_workspace:
      at: .
  - run:
      name: Install sandbox dependencies
      command: |
        TEMPLATE=$(yarn get-template --cadence << pipeline.parameters.workflow >> --task vitest-integration)
        cd $(yarn get-sandbox-dir --template $TEMPLATE) && yarn
  - start-event-collector
  - run:
      name: Running story tests in Vitest
      command: yarn task --task vitest-integration --template $(yarn get-template --cadence << pipeline.parameters.workflow >> --task vitest-integration) --no-link --start-from=never --junit
      environment:
        STORYBOOK_TELEMETRY_DEBUG: 1
        STORYBOOK_TELEMETRY_URL: 'http://localhost:6007/event-log'
  - run:
      name: 'Check Telemetry'
      command: yarn --cwd scripts jiti ./event-log-checker.ts test-run $(yarn get-template --cadence << pipeline.parameters.workflow >> --task vitest-integration)
  - report-workflow-on-failure:
      template: $(yarn get-template --cadence << pipeline.parameters.workflow >> --task vitest-integration)
  - store_test_results:
      path: test-results
