# see https://github.com/nrwl/nx/blob/master/.nx/workflows/dynamic-changesets.yaml for inspiration
distribute-on:
  default: 19 linux-browsers-js, 1 linux-js

assignment-rules:
  - targets:
      - build
      - check
      - lint
      - pretty-docs
      - knip
      - jest
    run-on:
      - agent: linux-js
        parallelism: 6
  - targets:
      - "*"
    run-on:
      - agent: linux-browsers-js
        parallelism: 1