name: nx

on:
  push:
    branches:
      - next
      - kasper/nx-agents
  pull_request:
    types: [opened, synchronize, labeled, reopened]

permissions:
  actions: read
  contents: read

env:
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}

jobs:
  nx:
    runs-on: ubuntu-latest
    env:
      ALL_TASKS: check,knip,test,pretty-docs,lint,sandbox,build-sandbox,e2e-tests,e2e-tests-dev,test-runner,vitest-integration,check-sandbox,e2e-ui,jest,vitest,playwright-ct,cypress
    steps:
      - uses: actions/checkout@v4
        with:
          filter: tree:0
          fetch-depth: 0
      - run: npx nx@latest start-ci-run --distribute-on="./.nx/workflows/distribution-config.yaml" --stop-agents-after="$ALL_TASKS"
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'yarn'
      - run: yarn install --immutable
      - uses: nrwl/nx-set-shas@v4
      - if: github.event_name == 'pull_request' && (contains(github.event.pull_request.labels.*.name, 'ci:normal'))
        run: yarn nx run-many -t $ALL_TASKS -c production -p="tag:ci:normal"
      - if: github.event_name == 'pull_request' && (contains(github.event.pull_request.labels.*.name, 'ci:merged'))
        run: yarn nx run-many -t $ALL_TASKS -c production -p="tag:ci:normal,tag:ci:merged"
      - if: github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'ci:daily')
        run: yarn nx run-many -t $ALL_TASKS -c production -p="tag:ci:normal,tag:ci:merged,tag:ci:daily"
