name: nx

on:
  push:

permissions:
  actions: read
  contents: read

env:
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}

jobs:
  nx:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          filter: tree:0
          fetch-depth: 0
      - run: npx nx@latest start-ci-run --distribute-on=" ./.nx/workflows/distribution-config.yaml" --stop-agents-after="check,knip,test,pretty-docs,lint,test,sandbox,build-sandbox,e2e-tests,e2e-tests-dev,test-runner,test-runner-dev,vitest-integration,check-sandbox,e2e-ui,jest,vitest,playwright-ct,cypress"
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'yarn'
      - run: yarn install --immutable
      - uses: nrwl/nx-set-shas@v4
      - run: yarn nx run-many -t check,knip,test,pretty-docs,lint,test,sandbox,build-sandbox,e2e-tests,e2e-tests-dev,test-runner,test-runner-dev,vitest-integration,check-sandbox,e2e-ui,jest,vitest,playwright-ct,cypress -c production -p="tag:ci:normal,tag:ci:merged,tag:ci:daily"
