name: Trigger CircleCI workflow

on:
  # Use pull_request_target, as we don't need to check out the actual code of the fork in this script.
  # And this is the only way to trigger the Circle CI API on forks as well.
  pull_request_target:
    types: [opened, synchronize, labeled, reopened]
  push:
    branches:
      - next
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  get-branch:
    if: github.repository_owner == 'storybookjs'
    runs-on: ubuntu-latest
    steps:
      - id: get-branch
        env:
          # Stored as environment variable to prevent script injection
          REF_NAME: ${{ github.ref_name }}
          PR_REF_NAME: ${{ github.event.pull_request.head.ref }}
        run: |
          if [ "${{ github.event.pull_request.head.repo.fork }}" = "true" ]; then
            export BRANCH=pull/${{ github.event.pull_request.number }}/head
          elif [ "${{ github.event_name }}" = "push" ]; then
            export BRANCH="$REF_NAME"
          else
            export BRANCH="$PR_REF_NAME"
          fi
          echo "$BRANCH"
          echo "branch=$BRANCH" >> $GITHUB_ENV
    outputs:
      branch: ${{ env.branch }}

  get-parameters:
    if: github.repository_owner == 'storybookjs'
    runs-on: ubuntu-latest
    steps:
      # We must reset the workflow because it is reused in future runs even if the workflow should not be triggered.
      # E.g. if "ci:normal" was set in a previous run, but this new run only adds a "bug" label, CI would still end up having "ci:normal" in the environment variable.
      - name: Reset workflow
        run: echo "workflow=" >> $GITHUB_ENV
      - name: Determine workflow from labels on pull_request_target labeled event
        if: github.event_name == 'pull_request_target' && github.event.action == 'labeled'
        run: |
          case "${{ github.event.label.name }}" in
            ci:normal) echo "workflow=normal" >> $GITHUB_ENV ;;
            ci:docs) echo "workflow=docs" >> $GITHUB_ENV ;;
            ci:merged) echo "workflow=merged" >> $GITHUB_ENV ;;
            ci:daily) echo "workflow=daily" >> $GITHUB_ENV ;;
          esac
      - name: Determine workflow from labels on push event
        if: github.event_name == 'push' && github.event.pull_request != null
        run: |
          LABELS=$(jq -r '.pull_request.labels[].name' <<<"${{ toJSON(github.event) }}")
          for label in $LABELS; do
            case "$label" in
              ci:normal)
                echo "workflow=normal" >> $GITHUB_ENV
                break
                ;;
              ci:docs)
                echo "workflow=docs" >> $GITHUB_ENV
                break
                ;;
              ci:merged)
                echo "workflow=merged" >> $GITHUB_ENV
                break
                ;;
              ci:daily)
                echo "workflow=daily" >> $GITHUB_ENV
                break
                ;;
            esac
          done
    outputs:
      workflow: ${{ env.workflow }}
      ghBaseBranch: ${{ github.event.pull_request.base.ref }}
      ghPrNumber: ${{ github.event.pull_request.number }}

  trigger-circle-ci-workflow:
    runs-on: ubuntu-latest
    needs: [get-branch, get-parameters]
    if: github.repository_owner == 'storybookjs' && needs.get-parameters.outputs.workflow != ''
    steps:
      - name: Trigger CircleCI workflow
        uses: fjogeleit/http-request-action@v1
        with:
          url: "https://circleci.com/api/v2/project/gh/storybookjs/storybook/pipeline"
          method: "POST"
          customHeaders: '{"Content-Type": "application/json", "Circle-Token": "${{ secrets.CIRCLE_CI_TOKEN }}"}'
          data: '{ "branch": "${{needs.get-branch.outputs.branch}}", "parameters": ${{toJson(needs.get-parameters.outputs)}} }'
